*{

margin:0;

padding:0;

box-sizing:border-box;

font-family:tahoma;

}

body{

background:#f5f7fb;

padding:40px;

}

.container{

width:900px;

margin:auto;

background:white;

padding:30px;

border-radius:15px;

box-shadow:0 0 20px rgba(0,0,0,.08);

}

h1{

margin-bottom:10px;

}

p{

margin-bottom:25px;

color:#666;

}

table{

width:100%;

border-collapse:collapse;

}

th{

background:#2563eb;

color:white;

padding:12px;

}

td{

border:1px solid #ddd;

padding:12px;

text-align:center;

}

input{

width:80px;

padding:8px;

text-align:center;

}

button{

margin-top:25px;

padding:14px 35px;

background:#2563eb;

color:white;

border:none;

cursor:pointer;

border-radius:8px;

font-size:16px;

}

button:hover{

background:#1d4ed8;

}

#scheduleResult{

margin-top:35px;

}